<h3><a [routerLink]="['']"> < Voltar para o Ínicio</a></h3>

<div>
<h1>A loja oficial do Clube pode ser acessada a partir do link abaixo:</h1>
<p><a href="https://www.cazadosport.com.br/" target="_blank">Clique aqui para acessar o site oficial da loja</a></p>
</div> <br><br><br>
<div class="imagem">
<img src="https://play-lh.googleusercontent.com/Yj_mFpEjXgOEmm5WO-rIiKX4552kIa_5kPLDNsKtntQdLzHpdLIup9S2vyh83xhSAZ-q" alt="cazadosport">
</div>

<div class="info">
<p>A loja oficial do clube fica localizada em vários pontos do Recife. Confira as informações de cada uma: <br><br>
  Cazá do Sport - Ilha do Retiro <br>
  Endereço: Av. Sport Club do Recife, 159, Ilha do Retiro. <br>
  Horário de Funcionamento: De segunda à sábado, das 9h às 17h. <br><br><br>

  Cazá do Sport - Shopping Recife <br>
  Endereço: Rua Pe. Carapuceiro, 777, Boa Viagem – Recife/PE. <br>
  Horário de Funcionamento: De segunda à domingo, das 12h às 20h. <br><br><br>

  Cazá do Sport - Shopping RioMar <br>
  Endereço: Av. República do Líbano, n° 251 / Pina – Recife/PE (Piso L1 – ao lado da loja Marisa). <br>
Horário de Funcionamento: De segunda a sábado, das 10h às 22h; aos domingos, das 12h às 22h. <br><br><br>

Cazá do Sport - Shopping Tacaruna <br>
Endereço: Condomínio Shopping Center Tacaruna – Av. Gov. Agamenon Magalhães, 153 – Santo Amaro, Recife – PE (Piso L3 – Ao lado do Game Station) <br>
Horário de Funcionamento: De segunda a sábado, das 10h às 22h; aos domingos, das 12h às 22h. <br><br><br>

Cazá do Sport - Shopping Plaza <br>
Endereço: R. Dr. João Santos Filho, 255 – Parnamirim, Recife – PE (Piso L2 – Próximo a Brooksfield). <br>
Horário de Funcionamento: De segunda a sábado, das 10h às 22h; aos domingos, das 12h às 20h. <br><br><br>

Cazá do Sport - Shopping Guararapes <br>
Endereço: Av. Barreto de Menezes, 800 – Piedade, Jaboatão dos Guararapes (Piso L2, próximo a Brooksfield). <br>
Horário de Funcionamento: De segunda a sábado, das 10h às 22h; aos domingos, das 12h às 22h. <br><br><br>
</p>
</div>
